**/__pycache__
**/.venv
**/.vscode
**/.dockerignore
**/.git
**/.gitignore
**/.github
**/.coverage
**/tests
**/docs
**/docker-compose*
**/Dockerfile*
**/metrics.db
**/config.*.cfg
!config.example.cfg
