[DEFAULT]

# host - host for listening
# type: string
# example: 192.168.0.13
# default: 0.0.0.0
# environment: DRUI_HOST
host =

# port - port for listening
# type: int
# example: 80
# default: 8000
# environment: DRUI_PORT
port =

# secret_key - secret key for session cryptography
# -------------------------------------
# use command `openssl rand -base64 16`
# -------------------------------------
# type: string
# example: HL4MwifdGYXfdoB4pHygbA==
# default: <none>
# environment: DRUI_SECRET_KEY
secret_key =

# disable_delete - disable "delete Docker image" feature
# type: bool
# example: true
# default: false
# environment: DRUI_DISABLE_DELETE
disable_delete =

# images_per_page - limit of Docker images in projects page
# type: int
# example: 15
# default: <none>
# environment: DRUI_IMAGES_PER_PAGE
images_per_page =


[registry]

# endpoint - Docker Registry endpoint
# type: string
# example: http://registry.io/
# default: <none>
# environment: DRUI_REGISTRY_ENDPOINT
endpoint =

# pull_endpoint - pull Docker Registry endpoint (show in "docker pull <image>" string)
# type: string
# example: http://public.registry.io
# default: <none>
# environment: DRUI_REGISTRY_PULL_ENDPOINT
pull_endpoint =


[broadcast]

# path - path to broadcast message file
# type: string
# example: /tmp/broadcast.md
# default: <none>
# environment: DRUI_BROADCAST_PATH
path =


[mark]

# official_prefix - official Docker images prefix
# type: list
# example: library
# default: <none>
# environment: DRUI_MARK_OFFICIAL_PREFIX
official_prefix =

# verified_prefix - verified Docker images prefix
# type: list
# example: main, cloud
# default: <none>
# environment: DRUI_MARK_VERIFIED_PREFIX
verified_prefix =


[logging]

# level - logging level
#  - info
#  - warning
#  - error
#  - critical
#  - debug
# type: string
# example: debug
# default: info
# environment: DRUI_LOGGING_LEVEL
level =

# format - logging format
#  - url: URL
#  - remote_addr: user network address
#  - method: HTTP method
#  - status_code: response code
#  - user_agent: User-Agent header
#  - referer: Refererheader
#  - x_forwarded_for: X-Forwarded-For header
#  - content_length: response length (bytes)
# type: string
# example: %(remote_addr)s $(method)s
# default: [%(asctime)s] %(levelname)s %(method)s %(status_code)s %(url)s %(message)s
# environment: DRUI_LOGGING_FORMAT
format =

# date_format - logging date format
# type: str
# example: %Y-%m-%d
# default: %Y-%m-%d %H:%M:%S
# environment: DRUI_LOGGING_DATE_FORMAT
date_format =


[metrics]

# enable - enable metrics
# type: bool
# example: true
# default: false
# environment: DRUI_METRICS_ENABLE
enable =

# interval - metrics collection interval (in minutes)
# type: int
# example: 1440
# default: 60
# environment: DRUI_METRICS_INTERVAL
interval =

# path - metrics database path
# type: str
# example: /var/data/metrics.db
# default: /tmp/metrics.db
# environment: DRUI_METRICS_PATH
path =

# username - username for metric worker
# type: str
# example: john
# default: <none>
# environment: DRUI_METRICS_USERNAME
username =

# password - password for metric worker
# type: str
# example: secret_password
# default: <none>
# environment: DRUI_METRICS_PASSWORD
password =
