{% extends "core.html" %}
{% set broadcast = conf.get('path', 'broadcast') %}
{% set images_per_page = conf.get('images_per_page') | safe %}

{% block head %}
<link href="{{ url_for('static', filename='libs/highlight/github.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='libs/highlight/github-dark.min.css') }}" rel="stylesheet" type="text/css">

<script src="{{ url_for('static', filename='libs/showdown/showdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/highlight/highlight.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/repositories.js') }}"></script>

<style>
    /* hide third table row on small screen */
    @media only screen and (max-width: 576px) {

        th:nth-child(3n),
        td:nth-child(3n) {
            display: none;
        }

        th:nth-child(2n),
        td:nth-child(2n) {
            text-align: right;
        }
    }
</style>

<script>
    const repositories = {{ repositories | tojson | safe }};
    const images_per_page = parseInt("{{ images_per_page }}");
    const broadcast_exists = {% if broadcast != None %}true{% else %} false{% endif %};
</script>
{% endblock %}

{% block nav %}
<div class="nav me-auto ms-auto">
    <div class="input-group flex-nowrap input-group-sm">
        <div class="input-group-text border border-end-0">
            <span class="fa fa-magnifying-glass small">filter</span>
        </div>
        <input type="text" class="form-control border-start-0" id="filter" aria-label="filter"
            title="filter by image name" autofocus>
    </div>
</div>
{% endblock %}

{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb alert bg-body-tertiary">
        <li class="breadcrumb-item"><a href="/">Explore</a></li>
        {% if repository %}
        <li class="breadcrumb-item active" aria-current="page">
            {{ repository }}
        </li>
        {% endif %}
    </ol>
</nav>

<!-- broadcast section (start) -->
{% if broadcast %}
<div class="alert alert-info alert-dismissible p-2">
    <i class="fa fa-circle-info me-2 align-middle" id="broadcast_icon"></i>
    <span class="align-middle" id="broadcast_title"></span>
    <button class="btn btn-link btn-sm alert-link" type="button" data-bs-toggle="collapse"
        data-bs-target="#broadcast_collapse">
        read more
    </button>
    <div class="collapse" id="broadcast_collapse">
        <hr>
        <div id="broadcast"></div>
    </div>
</div>
{% endif %}
<!-- broadcast section (stop) -->

<div id="repositories"></div>
{% endblock %}
